default:
  autoload:
      '': %paths.base%/src/
  suites:
    default:
      path: %paths.base%/features
      contexts:
        - Behat\ClipboardExtension\Context\FeatureContext
  extensions:
    Behat\ClipboardExtension\ServiceContainer\ClipboardExtension:
      defaults:
        key1: value1
        key2.key2 : value2
